body {
  margin: 0;
}

.main {
  height: 90vh;
  overflow: scroll;
}

.heroImg{
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.qr-code{
  margin: 1rem !important;
}

.mt-5{ margin-top: 5rem; }